
.authCont{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
    background-image: linear-gradient(rgba(6, 4, 30, 0.804), rgba(4, 9, 30, 0.087)),
    url("../../assets/images/campingBackG2.jpg");
    background-position: center;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}
.loginCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}
.loginCont p{
    font-weight: bold;
}
.loginCont h2{
    font-size: 60px;
    letter-spacing: 12px;
    color: #fff;
}
.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.headings p{
    color: #858282;
    font-size: 24px;
    font-weight: 200;
}
.authForm input{
    height: 50px; 
    border: 0;
    border-bottom: 2px #fff solid;
    background-color: transparent;
    color: #fff;
    outline: none;
}
.authForm button{
    height: 69px;
    position: absolute;
    bottom: 4px;
    width: 433px;
    left: -2px;
    background-color: var(--blue);
    border: 0;
    color: #fff;
    font-size: 2em;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.authForm label{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    margin-top: 30px;
}
.authForm ::placeholder{
    color: #fff;
}
.authForm{
    display: flex;
    flex-direction: column;
    width: 380px;
}
.toggleLog{
    transition: 0.2s;
    margin-bottom: -78px;
    color: #fff;
    position: absolute;
    bottom: 158px;
}
.registerTxt{
    color: orangered;
}
.toggleLog:hover{
    cursor: pointer;
    transform: translateY(-2px);
}


