.menuContainer {
  display: none;
}

.menuContaineropen {
  width: 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.menuContaineropen a {
  margin: 5px 0 5px 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.header {
  background-color: #191f3d;
  height: 50px;
  border-bottom: 1px solid #000103;
  padding: 10px;
  transition: 1s;
}

.headeropen {
  height: 50px;
  background-color: #191f3d;
  border-bottom: 1px solid #000103;
  padding: 10px;
  height: 180px;
  transition: 1s;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 3px 0;
  transition: all 0.3s ease;
}

.navBar {
  width: 94vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

.navBaropen {
  width: 94vw;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  transition: 1s;
}

.logo {
  text-align: center;
  color: rgb(42, 71, 201);
  font-weight: 900;
  font-size: 25px;
  margin: 0;
  font-family: 'Dokdo', system-ui;
}

#BtnNavBar {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #dadeec;
  border: none;
}

#iconNavBar {
  color: #191f3d;
  font-size: 15px;
  font-weight: 900;
}
