.menuContainer {
    display: none;
  }
  
  .menuContainer.open {
    display: flex;
    flex-direction: column;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: all 0.3s ease;
  }
  
  .open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .open .line:nth-child(2) {
    opacity: 0;
  }
  
  .open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  