.containerJoin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    color: #3db1ae;
    backdrop-filter: blur(0px);
    border: 1px solid #878787;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(30, 30, 30, 0.918);
    margin: 15px 0 0 0;
}


.BtnPin {
    margin: 10px;
    background-color: #3db1ae;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inputPin {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
}